<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css" />
    <title>Document</title>
</head>
<body>
    <div class="sheet1">
        <p class="message">{{ message }}</p>
    <form action="./islem3" method="post">        
           mudehale detaylarini giriniz:           
           <input type="text" name="AlanID" placeholder="AlanID">
           <input type="text" name="SinifID" placeholder="SinifID ">
           <input type="text" name="MudaheleID" placeholder="MudaheleID ">
           <input type="text" name="MudahaleAdi" placeholder="Problemi MudahaleAdi Soyadi ">                                
       <input type="submit" value="gönder" class="btn" />
    </form>
    </div>
    
</body>
</html>