<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css" />   
    <title>Document</title>
</head>
<body>
  <div class="sheet1">
    <p class="message">{{ message }}</p>
<form action="./islem5" method="post">
    islem turunuzu secin
    <select name="islem">
        <option value="">secim</option>
        <option value="ilce_ekleme">ilce_ekleme</option>
        <option value="ilce_guncelleme">ilce_guncelleme</option>
        <option value="ilce_silme">ilce_silme</option>     
      </select>
      silme islemi icin sadece kodu girmeniz yeterli<br />    
       ilce verilerini giriniz:
       <input type="text" name="ilce_Adi" placeholder="ilce_Adi">
       <input type="text" name="ilce_kodu" placeholder="ilce_kodu ">   
       <input type="text" name="il_kodu" placeholder="il_kodu ">                
   <input type="submit" value="gönder" class="btn" />
</form>
</div>
    
</body>
</html>