<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css" />   
    <title>Document</title>
</head>
<body>
  <div class="sheet1">    
<form action="./eslesme" method="post">
  {% if message %}
      <p class="message">{{ message | safe }}</p>
      {% endif %}
        problemID ve BirimID degerlerini giriniz:       
       <input type="text" name="problemID" placeholder="problemID">
       <input type="text" name="BirimID" placeholder="BirimID ">
        

   <input type="submit" value="gönder" class="btn" />
</form>
</div>
    
</body>
</html>