<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css" />
    <title>Document</title>
</head>
<body>
    <div class="sheet1">
        <p class="message">{{ message }}</p>
    <form action="./kayit" method="post">
          Kullanici adinizi giriniz 
          <input type="text" name="kullanici" placeholder="kullanici adi">  
          sifre giriniz:
           <input type="password" name="sifre" placeholder="sifre">
                     
       <input type="submit" value="gönder" class="btn" />
    </form>
    </div>
    
</body>
</html>