<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css" />   
    <title>Document</title>
</head>
<body>
  <div class="sheet1">
    <p class="message">{{ message }}</p>
<form action="./personel" method="post">
           
       guncellemeleri giriniz
       <input type="text" name="e_posta" placeholder="e-posta">
       <input type="text" name="cep" placeholder="cep ">   
       <input type="text" name="ev_adresi" placeholder="ev adresi ">                
   <input type="submit" value="kaydet" class="btn" />
</form>
<form action="./returner" method="post">
           
    cikis              
<input type="submit" value="cikis" class="btn" />
</form>
</div>
    
</body>
</html>