<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css" />
    <title>Document</title>
</head>
<body>
    <div class="sheet1">
        <p class="message">{{ message }}</p>
    <form action="./islemP3" method="post">
               
           problem detaylarini giriniz:           
           <input type="text" name="ProblemTipiID" placeholder="ProblemTipiID">
           <input type="text" name="ProblemTanimi" placeholder="ProblemTanimi ">
           <input type="text" name="Problemi_TanimlayiciAdi" placeholder="Problemi Tanimlayici Adi ">
           <input type="text" name="Problemi_TanimlayiciSoyadi" placeholder="Problemi Tanimlayici Soyadi ">
           <input type="text" name="ProblemiTanimlayanTCNOPasaportno" placeholder="ProblemiTanimlayanTCNOPasaportno ">                               
       <input type="submit" value="gönder" class="btn" />
    </form>
    </div>
    
</body>
</html>